$bg-overlay-color: rgba(0, 0, 0, 0.5);
$image-shadow-color: rgba(0, 0, 0, 0.5);
$caption-overlay-color: rgba(0, 0, 0, 0.5);

.gllry-overlay {
  .gllry-full {
    box-shadow: 0 0 0 100vh $bg-overlay-color;
    border-collapse: separate; // IE9 Fix
  }
}

.gllry,
.gllry-overlay {
  .gllry-thumb {
    &:hover {
      cursor: pointer;
    }

    & + .gllry-full {
      display: none;
      left: 50%;
      max-height: 90vh;
      max-width: 90vw;
      position: fixed;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 10000;

      img {
        box-shadow: 0 0 5em $image-shadow-color;
      }

      & > img,
      & > figure {
        cursor: default;
        max-height: 90vh;
        max-width: 90vw;
      }

      & > figure {
        img {
          max-height: inherit;
          max-width: inherit;
        }

        figcaption {
          background: $caption-overlay-color;
          bottom: 10vh;
          color: #fff;
          display: block;
          left: 50%;
          margin: 0 auto;
          padding: 1em;
          position: relative;
          text-align: center;
          transform: translateX(-50%);
          width: 100%;
        }
      }
    }

    &:focus + .gllry-full,
    & + .gllry-full:focus,
    & + .gllry-full:active {
      display: block;
    }
  }
}
